* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Kumbh Sans", sans-serif;
  outline: none;
}

/* Header */
header {
  background: #fff;
  -webkit-box-shadow: 0 7px 8px rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0 7px 8px rgba(0, 0, 0, 0.12);
  box-shadow: 0 7px 8px rgba(0, 0, 0, 0.12);

  position: sticky;
  top: 0;
}

#a_1024 {
  display: flex;
  height: 18vh;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  margin: auto;
}

.news {
  color: #fff;
  font-weight: 500;
  background: red;
  padding: 20px;
  width: 100%;
  text-align: center;
  font-size: 1.2rem;
}

.news {
  line-height: 1.8rem;
}

.news a {
  color: #fff;
  text-decoration: underline;
  text-underline-position: under;
  text-underline-offset: 2px;
}

@media screen and (max-width: 1024px) {
  .news {
    line-height: 2rem;
  }
}

/* Hamburger Menu */
.bar1,
.bar2,
.bar3 {
  width: 30px;
  height: 5px;
  background-color: #590f38;
  margin: 5px 0;
}

/* Nav Links - Parent */
.nav-links {
  display: flex;
}

.nav-links li {
  list-style: none;
}

/* Nav Link - Single Objects */
.nav-link {
  color: #590f38;
  text-decoration: none;
  font-size: 17px;
  padding: 15px;
  font-weight: 500;
}
.nav-link:hover {
  text-decoration: underline;
  text-underline-offset: 5px;
}

.ham {
  font-size: 2.5rem;
  color: #590f38;
}

/* Main */

/* Section - 1 */
.bg_1 {
  background-image: url("https://ik.imagekit.io/pwsauth/Monarchy_Website/backgrounds/classroom_4mPpaC2Ud.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

#sec_1 {
  display: flex;
  align-items: center;
  width: 90%;
  margin: auto;
  height: 82vh;
  color: #fff;
  justify-content: center;
  text-align: center;
}

.col1 h1 {
  font-size: 4rem;
  margin-bottom: 10px;
}

.col1 p {
  font-size: 1.5rem;
  width: 70%;
  margin: auto;
}

/* Section - 2 */
#sec_2 {
  height: 100vh;
  display: flex;
  align-items: center;
  width: 95%;
  margin: auto;
  justify-content: center;
  text-align: center;
}

hr {
  width: 50rem;
  background: #590f38;
  border: none;
  height: 2px;
  margin-top: 10px;
}

.col2 h1 {
  font-size: 3rem;
  color: #590f38;
}

.col3 {
  margin-top: 30px;
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.country {
  margin-top: 30px;
  background: #590f38;
  color: #fff;
  padding: 25px;
  width: 100%;
  border-radius: 10px;
}

.b1 {
  margin-right: 20px;
}

.box {
  background: #590f38;
  color: white;
  padding: 25px;
  border-radius: 10px;
  width: 100%;
}

.box h1 {
  margin-bottom: 10px;
  font-size: 2rem;
}

/* Footer */
.fwrap {
  background: #eeee;
}
footer {
  display: flex;
  width: 90%;
  margin: auto;
  height: 10vh;
  align-items: center;
  justify-content: space-between;
}
.flink {
  padding: 10px;
  color: #000;
  text-decoration: none;
}
.flink:hover {
  color: #590f38;
}
