@media screen and (max-width: 1024px) {
  .nav-links {
    display: none;
  }

  /* Section - 1 */
  #sec_1 {
    flex-direction: column;
  }
  .col1 h1 {
    font-size: 3rem;
    width: 100%;
  }
  .col1 p {
    width: 100%;
  }

  /* Section - 2 */
  #sec_2 {
    flex-direction: column;
    height: auto;
    padding: 30px 0;
  }

  hr {
    width: 100%;
  }

  .b1 {
    margin-right: 0;
    margin-bottom: 20px;
  }

  .col3 {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .sec2_wrapper {
    width: 90%;
    margin: auto;
  }

  /* Footer */
  footer {
    flex-direction: column;
    justify-content: space-evenly;
  }

  .ham {
    display: block;
    font-size: 2rem;
  }
}

.underline--magical {
  background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
  background-repeat: no-repeat;
  background-size: 100% 0.2em;
  background-position: 0 108%;
  transition: background-size 0.25s ease-in;
}
.underline--magical:hover {
  background-size: 100% 88%;
}
